<style type="text/css">
  body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
  div.dialog {
    width: 600px;
    height: 400px;
    padding: 0 4em;
    font-size: 40px;
    color: red;
  }
  h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
</style>

<div id="main-area">

  <div id="middle">

    <div class="dialog" >
      <p><%= t @error_msg %></p>
    </div>
  </div>
</div>

