<div id="main-tabs">
  <%#=get_main_tabs%>

  <ul id = "main-tabbed-area" class="clearfix">
    <%APP_CONFIG["way"].each do |way|%>

    <li id="main_tab<%= way["value"] %>" class="<%= get_tabs_class(way["value"],1)%>">
      <%= link_to_remote("<span>#{t(way['value'])}</span>",\
            :update => "main-area",\
            :url=>{ :controller => "home",:way=>way["value"],:tag=>params[:tag],:date=>params[:date]}) %>
    </li>
    <%end%>
  </ul>
</div> <!--加载查看博客方式 ,Recent Popular Random 三种 分类-->