<div class="tags_bar">
  <ul>
  <%  @tags.each do |tag|%>


   <%if tag == @tags.last%>
    <li class="select">
  <%= link_to_remote("<span>#{tag.text}</span>",\
        :update => "main-area",\
        :url=>{ :controller => "home",
        :tag=>tag.id,:date=>params[:date]},:class=>"select") %>
    </li>
  <%else%>
    <li>
  <%= link_to_remote("<span>#{tag.text}</span>",\
        :update => "main-area",\
        :url=>{ :controller => "home",:tag=>tag.id,:date=>params[:date]}) %>
    </li>
  <%end%>
  <%end%>
  </ul>
</div> <!-- end .tags -->