
.inputfield {
    background-image: none;
    background-color: #FFFFFF;
    width: 99%;
    border: 1px solid #F5F5F2;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    color: #888888;
    font-family: Arial, Helvetica, sans-serif;
}

.submit_button:hover {
    background-repeat: no-repeat;
    background-position: left -46px;
}


h1 {
    position: absolute;
    left: -8989px;
}


#newsletter form {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 540px;
}
#newsletter #yourName, #newsletter #yourEmail {
    border: 1px solid #978A73;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #7F735B;
    padding-bottom: 3px;
    width: 195px;
}
#newsletter p {
    color: #FFFFFF;
}






p.thirteen {
    font-size: 13px;
    line-height: 18px;
}
.hidden			{display: none;}


p.link:hover {
    background-position: left -32px;
}
p.link a:hover {
    background-position: right -32px;
    color: #222222;
    text-decoration: none;
}

.quoter {
    margin-top: 15px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E5E5E5;
    padding-top: 5px;
    color: #777777;
}
.top_space {
    padding-top: 5px;
}


#login_form,
#forgot_form		{padding: 5px 0 25px 0;}
.comment		{padding: 0 0 5px 0; margin: 3px 0 5px 0;}
.newest_member	{margin: 5px 0 18px 0;}
.newest_member a{display: block;}


.row input.checkbox	{width: auto; border: none; background: none; padding: 0 0 0 0;}
.row 			{padding: 7px 5px;}
.row label		{width: 140px; float: left;}
textarea,
.row input,
.row select		{float: left; width: 220px; padding: 2px;}
.row textarea	{height: 200px;}
input.button	{background: #666; color: #ddd; font-weight: bold; font-size: 10px; width: auto; height: auto; padding: 5px;}
input.button:hover	{background: #00B7F3; }
div.button		{ border-top: 1px dotted #666; padding: 10px; height: 25px; margin-top: 15px;}

