<div id="main-tabs">
  <ul id="main-tabbed-area" class="clearfix">
    <li class="active"><a href="http://www.elegantthemes.com/preview/AskIt?homeq=recent"><span>Recent</span></a><span class="arrow"></span></li>
    <li><a href="http://www.elegantthemes.com/preview/AskIt?homeq=popular"><span>Popular</span></a><span class="arrow"></span></li>
    <li><a href="http://www.elegantthemes.com/preview/AskIt?homeq=unanswered"><span>Unanswered</span></a><span class="arrow"></span></li>
    <li><a href="http://www.elegantthemes.com/preview/AskIt?homeq=random"><span>Random</span></a><span class="arrow"></span></li>
  </ul>
</div> <!-- end #main-tabs -->