
<div id="main-content">
  <%@blogs.each do|blog|%>
    <!-- 加载一个博客 -->
    <%= render(:partial => "share/blog_entry",:locals => {:blog => blog,:all=>nil}) %>
    <div class="clear"></div>
  <%end%>

  <%= will_paginate @blogs , :class=>"wp-pagenavi"%>

</div> <!-- 博客列表，带标题和摘要end #main-recent -->