<div id="sidebar">
  <div id="sidebar-bottom">
    <div id="sidebar-content">
      <div class="widget-button">
        <a href="/user/login" id="call_to_action"><span>Submit a Question</span></a>
      </div>
      <div class="widget-button">
        <a href="/user/login" id="call_to_action"><span><%= t('login')+"/"+t('register')%></span></a>
      </div>
      <div id="tabbed" class="sidebar-block ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul id="tabbed-area" class="clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
          <li class="first ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="http://www.elegantthemes.com/preview/AskIt/#recent-tabbed">Recent</a></li>
          <li class="second ui-state-default ui-corner-top"><a href="http://www.elegantthemes.com/preview/AskIt/#popular-tabbed">Popular</a></li>
          <li class="last ui-state-default ui-corner-top"><a href="http://www.elegantthemes.com/preview/AskIt/#random-tabbed">Random</a></li>
        </ul>

        <div id="recent-tabbed" class="widget-content ui-tabs-panel ui-widget-content ui-corner-bottom">
          <ul>
            <li class="clearfix"><span class="title"><a href="http://www.elegantthemes.com/preview/AskIt/?p=22">Where is the best place to l...</a></span>
              <p class="post-info">Posted by
                <a href="http://www.elegantthemes.com/preview/AskIt/?author=1" title="Posts by Nick Roach">Nick Roach</a>on Nov 17, 2010
              </p>
              <span class="widget-comment-number">3</span>
            </li>
          </ul>
        </div> <!-- end #recent-tabbed -->

        <div id="popular-tabbed" class="widget-content ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
          <ul>
            <li class="clearfix">
              <span class="title"><a href="http://www.elegantthemes.com/preview/AskIt/?p=14">What is the best WordPress e...</a></span>
              <p class="post-info">Posted by <a href="http://www.elegantthemes.com/preview/AskIt/?author=1" title="Posts by Nick Roach">Nick Roach</a> on Nov 17, 2010</p>
              <span class="widget-comment-number">5</span>
            </li>
            <li class="clearfix">
              <span class="title"><a href="http://www.elegantthemes.com/preview/AskIt/?p=16">What is the best way to crea...</a></span>
              <p class="post-info">Posted by <a href="http://www.elegantthemes.com/preview/AskIt/?author=1" title="Posts by Nick Roach">Nick Roach</a> on Nov 17, 2010</p>
              <span class="widget-comment-number">5</span>
            </li>																																			</ul>
        </div> <!-- end #recent-tabbed -->

        <div id="random-tabbed" class="widget-content ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
          <ul>
            <li class="clearfix">
              <span class="title"><a href="http://www.elegantthemes.com/preview/AskIt/?p=10">How do you make oil paint dr...</a></span>
              <p class="post-info">Posted by <a href="http://www.elegantthemes.com/preview/AskIt/?author=1" title="Posts by Nick Roach">Nick Roach</a> on Nov 17, 2010</p>
              <span class="widget-comment-number">4</span>
            </li>																															</ul>
        </div> <!-- end #recent-tabbed -->
      </div> <!-- end .sidebar-block-->

      <div id="archives-3" class="widget widget_archive"><h4 class="widgettitle">Archives</h4>
        <div class="widget-content">
          <ul>
            <li><a href="http://www.elegantthemes.com/preview/AskIt/?m=201011" title="November 2010">November 2010</a></li>
          </ul>
        </div>
      </div><!-- end .widget -->
      <div id="categories-3" class="widget widget_categories">
        <h4 class="widgettitle">Categories</h4>
        <div class="widget-content">
          <ul>
            <li class="cat-item cat-item-6"><a href="http://www.elegantthemes.com/preview/AskIt/?cat=6" title="View all posts filed under Web Development">Web Development</a>
            </li>
            <li class="cat-item cat-item-9"><a href="http://www.elegantthemes.com/preview/AskIt/?cat=9" title="View all posts filed under WordPress">WordPress</a>
            </li>
          </ul>
        </div>
      </div><!-- end .widget -->
      <div id="meta-3" class="widget widget_meta">
        <h4 class="widgettitle">Meta</h4>
        <div class="widget-content">
          <ul>
            <li><a href="http://www.elegantthemes.com/preview/AskIt/wp-login.php">Log in</a></li>
            <li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
          </ul>
        </div>
      </div><!-- end .widget -->
    </div> <!-- end #sidebar-content -->
  </div> <!-- end #sidebar-bottom -->
</div>