
<div id="main-area">
  <!-- 加载标签条 -->
  <%= render(:partial => "share/tag_bar") %>
  <div id="middle">
    <!-- 加载二级分类导航 -->
    <%= render(:partial => "share/main_tabs") %>

    <!-- 加载加载博客列表 -->
    <%= render(:partial => "home/main_content") %>
  </div>
</div>






