<div id="tabbed" class="sidebar-block ui-tabs ui-widget ui-widget-content ui-corner-all">
  <!-- 加载博客筛选栏 -->
  <%= render(:partial => "share/left_tabs") %>

  <!-- 加载博客列表 -->
  <%= render(:partial => "home/right_content") %>
  <!-- end #recent-tabbed -->
</div> 