 <div id="header-bottom">
<div class="container">
  <ul id="secondary-menu" class="nav clearfix sf-js-enabled">
    <li id="menu-item-62" class="menu-item menu-item-type-taxonomy menu-item-62">
      <a href="http://www.elegantthemes.com/preview/AskIt/?cat=8">Arts and Crafts</a>
    </li>
    <li id="menu-item-66" class="menu-item menu-item-type-taxonomy current-menu-item current-category-ancestor current-menu-ancestor current-menu-parent menu-item-66 sf-ul">
      <a href="http://www.elegantthemes.com/preview/AskIt/?cat=3" class="sf-with-ul">Technology
        <span class="sf-sub-indicator"> »</span>
      </a>
      <ul class="sub-menu" style="display: none; visibility: hidden; ">
        <li id="menu-item-70" class="menu-item menu-item-type-taxonomy menu-item-70">
          <a href="http://www.elegantthemes.com/preview/AskIt/?cat=3">Computers and Internet</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-69" class="menu-item menu-item-type-taxonomy menu-item-69">
      <a href="http://www.elegantthemes.com/preview/AskIt/?cat=9">WordPress</a>
    </li>
  </ul>
  <div id="search-bar">
    <form method="get" id="searchform" action="http://www.elegantthemes.com/preview/AskIt">
      <input type="text" value="search this site..." name="s" id="searchinput"/>
      <input type="image" src="/images/search-icon.png" id="searchsubmit"/>
    </form>

  </div> <!-- end #search-bar -->
</div> <!-- end .container -->
</div>